# Python cache
__pycache__/
*.pyc

# Virtual environment
pipeline_env/
venv/
.env/

# Logs
*.log

# OS / IDE
.DS_Store
.idea/

#python file
manage.py
asgi.py
wsgi.py
__init__.py
settings.py
0001_initial.py
