asgiref==3.10.0
beautifulsoup4==4.14.2
certifi==2025.10.5
charset-normalizer==3.4.4
Django==4.2
django-ebhealthcheck==2.0.2
django-environ==0.12.0
django-request==1.7.1
idna==3.11
lxml==6.0.2
mysql-connector-python==9.4.0
pymysql
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
